#circle {
	height: 350px;
  	width: 350px;
  	display: table-cell;
  	text-align: center;
    padding: 20px;
  	vertical-align: middle;
  	border-radius: 50%;
  	background-color: chartreuse;
    border-style: solid;
    border-width: 5px;
    border-color: darkgreen;
}

.container {
  max-width: 500px;
  margin: auto;
}

h1 {
	font-family: helvetica;
	color: chartreuse;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: darkgreen;
  /*margin: 0 auto;*/
}

body {
	font-family: helvetica;
	color: forestgreen;
  align-content: center;
  /*background-color: lightyellow;*/
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/71jB%2BuEVnQL._AC_SL1001_.jpg);
  padding: 100px;
  margin: auto;
}

.vl {
  border-left: 6px solid green;
  height: 300rem;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  z-index: -1;
}