/*img {
	max-width: 100%;
}

h1 {
	text-align: center;
}

#entries {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.entry {
  width: 300px;
  height: 300px;
  margin: 2px;
  overflow: scroll;
  border: 1px solid blue;
}*/