#css-color {
  background-color:CornflowerBlue;
}

#rgb {
  background-color:rgb(100, 148, 237);
}

#rgba {
  background-color:rgba(100, 148, 237, 0.2);
}

#hex {
  background-color:#6495ED;
}

#hsl {
  background-color:hsl(219, 79%, 66%);
}

#gradient {
  background: linear-gradient(CornflowerBlue, lavender);
}