body {
  background-color:black;
}
.name {
  color:slategray;
  background-color:black;
  border-color:blue;
}
.name:nth-of-type(2) {
  color:#3238a8;
}
.name:last-of-type {
  color:rgb(0, 10, 194);
}