a {
  text-align:center;
  display:block;
  margin:1em auto;
}

a:hover {
  font-style:italic;
  color:darkblue;
}

a:active {
  background-color:darkblue;
  color:white;
}

a:focus {
  color:red;
}

a:last-of-type {
  color:green;
}

a:nth-of-type(even) {
  font-family:sans-serif;
}